.box {
    padding: 5px 45px;
    margin: 5px;
    width: 80px;
    background-color: palevioletred;
}

.container {
    width: 700px;
    height: 300px;
    background-color: #eee;
    border:1px solid #222;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    /* align-items: stretch; */
    /* flex-flow: row-reverse wrap; */
    flex-wrap: wrap;    
    align-content: stretch;
    /* flex-direction: column; */
}

/* #box1 {
    margin-right: auto;
    padding: 20px;
    align-self: flex-start;

} */

/* #box2 {
    
    align-self: center;
} */