nav ul li {
    display: inline-block;
    width: 80px;
    height: 50px;
    
    
}
header ul{
    float: right;
}

header img {
    float: left;
}

header ul li {
    display: inline;
    padding: 10px;
}

nav > ul {
    border: 1px  gainsboro;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    line-height: 40px;
    padding: 0px;
    clear:both;
    margin: 10px 0px 0px 0px;
}

body {
    margin: 0px;
}

#nav_sub img{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    right: 100px;
    position:absolute;
    top: 25px;
}

#nav_sub {
    position: relative;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    background-image: url("https://image.kmib.co.kr/online_image/2018/0821/611211110012618663_1.jpg");


    background-size: cover;
    background-color: antiquewhite;
    border: 5px black; 
    padding: 20px;
    background-origin: padding-box;
    background-position: left center;
    
}

#pos {
    position: absolute;
    top: 100px;
    color: white;
    right: 120px;
}

main {
    width: 100%;
    height: 1200px;
}

footer {
    width: 100%;
    height: 200px;
    /* background: linear-gradient(to bottom, blue, pink 30%, white 70%, blue); */
    background: repeating-linear-gradient(to bottom, yellow,yellow 20px, red 20px, red 40px);
}

.grad {
    border-radius: 90px;
    box-shadow: 5px 5px 5px 5px gray;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at 25% 25%, white, yellow,red)
}