.box1 {
    width: 100px;
    height: 100px;
    background-color: bisque;
    box-sizing: border-box;
    border: 5px solid black;
    box-shadow: 3px 3px gray;
    border-width: thick thin;
    border-radius: 100px;
    margin: 10px auto;

}

.box2 {
    width: 70%;
    height: 100px;
    background-color: lightcyan;
    box-sizing: content-box;
    boder: 5px solid black;
    border-top-color: green;
    border-style: dashed;
    border-top-right-radius: 50px;
}

image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px gray;
}

.box3, .box5 {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 30px auto;

}

.box4 {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 60px auto;
}